doctype html
html
    head
        title Loggerton
        meta(http-equiv="Content-type" content="text/html; charset=utf-8")

        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/pure/pure-min.css")
        body
            header
                h2 Welcome to my logger software

            select#select
                each channel in channels
                    option(value="#{channel.id}") #{channel.name}
                
            form#maker.pure-form
                input#newChannel(name="newChannel")
                button.pure-button create

            ul#messages
                each msg in messages
                    li!= msg.text

            form#msg.pure-form
                input#m(autocomplete="off", name="message")
                button.pure-button Send
            
            script(src="/socket.io/socket.io.js")
            script(src="http://code.jquery.com/jquery-1.11.1.js")

            script(type="text/javascript", src="/js/main.js")